body{
    margin: 0px;
}
a:link,a:visited{
    color: #404040;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #404040;
}

a{
    font-size: 13px;
    font-family: arial,sans-serif;
}
#apps{
    padding-left: 15px;
    padding-right: 15px;
    width: 23px;
    height:23px;
}

#sign_in{
    text-align: center;
    background-color: #4486FA;
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    border: none;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 50;
    padding-right: 25px;
    border-radius: 2px;
}

#sign_in:hover{
    box-shadow: 0px 1px grey;
}

header{
    margin-top: 20px;
    display: block;
    block-size: 30px;
    width: 100%;
    height: 30px;
    align-content: center;
}
body{
    width: 1519.2px;
}
.left_menu{
    display: block;
    float: left;
    line-height: 24px;
    padding-left: 25px;
}
.right_menu{
    display: block;
    float: right;
    line-height: 24px;
    padding-left: 25px;
}

#google_title{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 138px;
    height: 92px;
    width: 272px;
}



#box{
    display: block;
    width: 632px;
    height: 49px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(237, 237, 237, 0.705);
    box-shadow: 1px 1px 3px #888888;
}
#box:hover, #box:focus{
    box-shadow: 2px 2px 10px #888888;
}

#input{
    display: block;
    float: left;
    border-style: none;
    width: 570px;
    height: 34px;
    margin: 7px 5px 5px 15px;
    font-size: 16px;
}
input:focus{
    outline: 0px;
}
#speakup{
    display: block;
    float: left;
    width: 15px;
    height: auto;
    margin: 15px 5px 5px 15px;
}
div button{
    font-weight: bold;
    font-size: 13px;
    color: #757575;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 36px;
    margin-top: 30px;
    padding: 0px 17px; 
}
button:hover{
    border: 1px solid black;
    color: black;
}
#search{
    margin-right: 10px;
    margin-left: 627px;
}

footer{
    display: block;
    margin: 0;
    height: 40px;
    width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    top: 703px;
}

#right_footer{
    float: right
}

footer a{
    padding-right: 20px;
    position: relative;
    top: 10px;
}

#start_footer{
    padding-left: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px grey;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -55px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}